<section class='container'>
<%= render partial: '/scraps/search' %>
<h2 class='text-center text-danger-emphasis'>
There are  <%= @scrap.queries.count %> queries
for the file with name: 
<%= File.basename(@scrap.csv_file_name.file.filename) if @scrap.csv_file_name.present? %>

</h2>

<% @scrap.queries.each do |query|%>
<ul class='list-group border'>
    <li class='list-group-item  '>
           <div class="row">
      <div class="col-md-6">
        <%= query %>  
        </div>
        <div class="col-md-6">
         <%=link_to 'See scraps' ,scrap_details_path(id: @scrap.id, query: query)  %> 
        </div>
    </div>
    </li>
</ul>
<% end %>
</section>