<section class='container'>
<div class='text-end '>
<%= link_to 'Go Back' , scrap_path(@scrap_detail.scrap_id) ,class:'link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover ' %>
</div>
<h1 class='text-center fs-2 fw-semibold text-danger-emphasis mb-4'>
Results for the query: <span class='text-dark'> <%= @scrap_detail.query %> </span>
</h1>

<h3 class='text-start fs-3 mb-3 fw-semibold text-danger-emphasis mb-4' >Number of  addWords: <span class='text-success'> <%= @scrap_detail.addWords %></span>
   </h3>
<h3 class='text-start fs-2 fw-semibold text-danger-emphasis mb-4'> Number of links found: <span class='text-info'> <%= @scrap_detail.links  %></span>
   </h3>
<h3 class='text-star fs-2 fw-semibold text-danger-emphasis mb-4'> Number of results found: <span class='text-primary'> <%= @scrap_detail.stats %></span>
    </h3>

<h3 class='text-start fs-2 fw-semibold text-danger-emphasis mb-4'>
HTML code of the page/cache:  <span class='fs-6 text-warning-emphasis'> <%= @scrap_detail.html_cache.to_s.split.take(150).join(" ") %> </span>
</h3>